@font-face {
    font-family: Outfit;
    src: url(ImageFonts/Outfit-VariableFont_wght.ttf);
}
@keyframes slideFromRight {
    from {
        left: 100%;
    }
    to {
        left: 45%; 
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-70%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.floating-in {
    animation: floatIn 0.8s ease-out;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
.hidden{
  display: none;
}
body {
    margin: 0;
    background-color: #F5F6F9;
    overflow-x:hidden;
}
.header{
    background-color:#F5F6F9;
    width: 100%;
    height: 13%;
    margin-top: 0px;
    position: fixed;
    z-index: 10000;
    top: 0%;
    padding-bottom: 0px;
}
.content{
    margin-top: 100px;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}

li {
    float: left
}

.logo{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 4px;
    margin-left:0px;
}
.menu a {
    display: block;
    padding: 30px;
    padding-top: 18px;
    text-decoration: none;
    text-align: center;
    font-family:Outfit;
    font-size: 17px;
    color: #332B46;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 10px;
    border-radius:40px;
}
.menu a:hover {
    background-color: #276AFD;
    transition:background-color 0.3s ease, color 0.3s ease;
    color: white;
}
.Sign li{
    margin-top: 0px;
    display: block;
    text-decoration: none;
    font-family: Outfit;
    font-size: 18px;
    padding: 10px;
    padding-top: 18px;
    margin-right: 0px;
    float:right;
}
.Sign li:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}
.Sign a{
    text-decoration: none;
}

.bitra {
    font-family: Outfit;
    font-size: 40px;
    font-weight: 600;
}
.separator{
    width: 1.5cm;
    height: 5px;
    background-color:#276AFD;
    margin-top: 27px;
    margin-left:1px;
    margin-right: 2px;
    border-color:#276AFD;
    border: 1cap;
    border-radius: 5px;
}

.halfMap{
    position: absolute;
    z-index: -1;
    top: -21%;
    left: 100%; 
    animation: slideFromRight 1.5s ease-out forwards;
}

.Find{
    position: absolute;
    top: 90px;
    left: 65px;
    color: black;
    font-family: Outfit;
    font-size: 40px;
    font-weight: 600;
    animation: slideInFromLeft 0.8s ease-out;
}

.FlightType{
    position: absolute;
    text-decoration: none;
    height: 40px;
    width: 120px;
    font-family: Outfit;
    color: gray;
    background-color: white;
    border-radius: 20px;
    border-color: white;
    top: 195px;
    left: 65px;
    font-size: 16px;
    margin-right: 10px;
    border: none;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    animation: zoomIn 0.8s ease-out;
}

.FlightType1{
    position: absolute;
    text-decoration: none;
    height: 42px;
    width: 120px;
    font-family: Outfit;
    color: gray;
    background-color: white;
    border-radius: 20px;
    border-color: white;
    top: 195px;
    left: 205px;
    font-size: 16px;
    margin-right: 50px;
    border: none;
    cursor: pointer;
    animation: zoomIn 0.8s ease-out;
}
.FlightType:hover{
    background-color: #276AFD;
    color: white;
}
.FlightType1:hover{
    background-color: #276AFD;
    color: white;
}
.arrow{
position: absolute;
top:200px;
left:200px;
width: 0;
height: 0;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-left: 10px solid grey;
}

.from-to{
    background-color: white;
    height:180px;
    width:590px;
    border-radius: 25px;
    border-color: white;
    padding: 20px;
    animation: zoomIn 0.8s ease-out;
}

.search-form{
    position: absolute;
    left:60px;
    top:260px;
    background-color: transparent;
}
.from{
    color:#276AFD;
    font-family: Outfit;
    font-weight: bold;
}

.from-input{
    border: none;
    color:black;
    font-family: Outfit;
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.to{
    color:#276AFD;
    font-family: Outfit;
    font-weight: bold;
    margin-top: 18px;
}

.to-input{
    border: none;
    color:black;
    font-family: Outfit;
    font-size: 50px;
    font-size: 400;
}

.separator1{
    position: absolute;
    left:3%;
    border-radius: 4px;
    height:3px;
    width: 545px;
    background-color:#E8E8E8;
    border-color: #E8E8E8;
    border:none;
}
.from-input::placeholder,
.to-input::placeholder {
    color:#E8E8E8;
    font-family: Outfit;
    font-size: 25px;
}

.from-input:focus,
.to-input:focus {
    outline: none;
}
.RefreshButton{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.refresh{
    position: absolute;
    top:90px;
    left:580px;
}

.refresh:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}

.DepartureDate{
    position: absolute;
    top:240px;
    left:5px;
    height:90px;
    width:230px;
    background-color: white;
    border-radius: 35px;
    border-color: white;
    animation: zoomIn 0.8s ease-out;
}

.ReturnDate{
    position: absolute;
    top:240px;
    left:250px;
    height:90px;
    width:230px;
    background-color: white;
    border-radius: 35px;
    border-color: white;
    animation: zoomIn 0.8s ease-out;
}

.Departure{
    z-index: 2;
    position: absolute;
    color: grey;
    font-family: Outfit;
    font-size: 20px;
    left: 9%;
    top:-9%;
}

.inputContainer {
    position: relative;
}

.departure_input{
    height: 100%;
    position: absolute;
    top:11%;
    left:8%;
    border: none;
    outline:none;
    font-family: Outfit;
    font-size: 20px;
    background-color: transparent;
}


.departure_input::-webkit-calendar-picker-indicator {
    position: relative;
    top:-10px;
    left:-10px;
    width: 60px;
    height: 60px;
    background: url("ImageFonts/GoodGoodCalendar.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
    transition: left 0.3s ease; 
}

.departure_input::-webkit-calendar-picker-indicator:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}

.ListPassengers {
    position: absolute;
    top: 160%;
    left:1%;
    list-style: none; 
    padding: 0;
    margin: 0; 
    animation: zoomIn 0.8s ease-out;
}

.passenger {
    display: inline-block; 
    margin-right: 10px; 
}

.passengerImage{
    width:80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}

.passengerImage:hover{
    background-color: #c0cde6;
}

#plusSign{
    background-color: white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plusButton:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}

.passenger_info{
    position: absolute;
    background-color: white;
    border-radius: 25px;
    height: 200px;
    width: 520px;
    top:210%;
    left:1%;
    animation: zoomIn 0.8s ease-out;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  margin-left:20px;
}

.form__field {
  font-family: Outfit;
  width: 50%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  font-family: Outfit;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  font-family: Outfit;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    font-family: Outfit;
    color: #276AFD;
    font-weight:700;    
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #5b84dd,#276AFD);
    border-image-slice: 1;
}
}

.form__field{
  &:required,&:invalid { box-shadow:none; }
}

body {
  font-family: Outfit; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
}
.family{
position: absolute;
top:0%;
left:30%;
}

.age{
    position: absolute;
    top:50%;
    left:00%;
}
.nationality{
    position: absolute;
    top:50%;
    left:30%;
}
.num_pass{
    position: absolute;
    top:50%;
    left:60%;
}
.male_circle{
    position: absolute;
    top:11%;
    left:65%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #dee0e6;
    color:black;
    font-family: Outfit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26.5px;
    cursor: pointer;
}
.female_circle{
    position: absolute;
    top:11%;
    left:79%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #dee0e6;
    color:black;
    font-family: Outfit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27.5px;
    cursor: pointer;
}
.female_circle:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}
.male_circle:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease; 
}
.SearchButton {
    position: absolute;
    top: 265%;
    left: 160%;
    width: 170px;
    height: 70px;
    background-color: #276AFD;
    color: white;
    font-family: Outfit;
    border-radius: 40px;
    outline: none;
    font-size: 25px;
    animation: zoomIn 0.8s ease-out;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.SearchButton:hover {
    background-color: black;
    color: white;
    transform: scale(1.1); 
}


.SearchButton.hidden {
    display: none;
}


.SearchButton.appear {
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fin{
    position:absolute;
    top:310%;
    left:105%;
}
.Travelo_fin{
    position: absolute;
    font-family: Outfit;
    color:black;
    font-size: 40px;
    font-weight: 600;
}